.mifist-guest-form {
  background: $map-green;
  padding: 20px;
}
.mifist-btn-add {
  width: 200px;
  height: 30px;
  background: #fff;
  color: $map-green;
  text-align: center;
  display: block;
  margin: 0 auto;
  border: 2px solid transparent;
  @include ba-transition(color, boreder, background);
  &:hover {
	border: 2px solid #fff;
	background: $map-green;
	color: #fff;
  }
}
// table
table.admin-table {
  width: 100%;
}
.wp-editor-container textarea.wp-editor-area {
  width: auto !important;
}

.admin-table.guest-table,
.guest-table {
  margin: 35px 15px 35px 0;
}
.add-table,
.edit-table {
  h2 {
    text-transform: uppercase;
    text-align: center;
  }
  .table-form {
    margin-top: 10px;
  }
  
  .table-body {
    .table-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
    }
  }
}
.table-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.table-col {
  padding: 5px;
}
.table-header {
  .table-row {
    text-transform: uppercase;
    font-weight: bold;
    
  }
  .table-col {
    background: $map-green;
    color: $white;
    padding: 10px 0;
  }
}
.table-body {
  .table-row {
    font-weight: normal;
    background: $white;
    
    &:not(:last-child) {
      border-bottom: 1px solid $map-gray;
    }
  }
}

.guest-title.empty {
  text-align: center;
}

/* WIDGETS FOR GB */
// Form
.form-gb-label {
  font-size: 1rem;
  margin-bottom: 10px;
  margin-top: 15px;
  display: block;
  font-weight: bold;
}
.form-gb-input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 15px;
  font-size: 1rem;
}