.mifist-guest-form {
  background: $d-green;
  padding: 20px;
}
.mifist-btn-add {
  width: 200px;
  height: 30px;
  background: #fff;
  color: $d-green;
  text-align: center;
  display: block;
  margin: 0 auto;
  border: 2px solid transparent;
  @include ba-transition(color, boreder, background);
  &:hover {
	border: 2px solid #fff;
	background: $d-green;
	color: #fff;
  }
}
// table

/* WIDGETS FOR GB */
// Form
.form-gb-label {
  font-size: 1rem;
  margin-bottom: 10px;
  margin-top: 15px;
  display: block;
  font-weight: bold;
}
.form-gb-input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 15px;
  font-size: 1rem;
}